name: Version Bump
on:
  push:
    branches: ["mainline"]
permissions:
  contents: write

jobs:
  bump:
    name: Bump and Push
    runs-on: ubuntu-latest
    if: ${{ github.event.payload.ref == "refs/head/mainline" }}
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1
      - run: git config user.name "version-bot" && git config user.email "jhechtf+version-bot@gmail.com"
      - run: deno task version-bump
      - run: git push && git push --tags